:root{
    font-size:100px;
    font-family: "helvetica";
}
*{
    margin: auto;
    padding: 0;
}
.navBar{
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    width: 14.4rem;
}
.title{
    font-size: 0.25rem;
    font-weight: 700;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    color: #354463;
}
.navRight{
    font-size: 0.18rem;
    width:40%;
    margin-left: 4rem;
    display: flex;
    margin: auto;
    justify-content: space-around;
    color: #354463;
}
.donation{
    height: 0.45rem;
    margin:auto;
    margin-right: 2rem;
    width: 2rem;
    border-radius: 1rem;
    font-size: 0.2rem;
    font-weight: 600;
    background-color:#C1F7D5;
    outline: 0;
    border:0;
    cursor: pointer;
}
.main1{
    background-image: url('assets/assets/about-us/annie-spratt-427339-unsplash.png');
    width: 14.4rem;
    height: 4rem;
    background-position: center center;
    opacity: 0.76;
    margin-top: 0.68rem;
    display: flex;
    flex-direction: row;
}
.defIssue{
    margin-left: 2.5rem;
    margin-top:2rem;
    width:28%;
    height: 2.8rem;
    background-color: #FFFFFF;
    font-size: 0.28rem;
    padding-left: 0.5rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color:#354463;
    opacity: 1;
}

.para{
    display: flex;
    flex-direction: column;
}
.issue{
    background-color: #354463;
    width: 35%;
    padding: 0 0.2rem 0 0.2rem;
    outline: 0;
    border: 0;
    height: 0.4rem;
    color: white;
    font-size: 0.15rem;
    margin-top: -0.2rem;
    margin-bottom: 0.3rem;
    margin-left: 0rem;
}
.stopNotice, .stopNotice1{
    margin-left: 2rem;
    font-size: 0.7rem;
    font-family:  "Flood Std";
    color: white;
    margin-top: 0.65rem;
    width: 20%;
}

.main2{
    background-color: #354463;
    width: 1440px;
    height: 1156px;
}
.done{
    margin-top: 1.5rem;
    margin-left: 1.6rem;
    font-size:0.15rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    border:0;
}
.workText{
    margin-left: 1.6rem;
    color: white;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    margin-right: 1.6rem;
}
.actionContainer{
    margin-left:1.6rem;
    margin-right: 1.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.action1{
    margin-left: 0rem;
    margin-top: 1rem;
}
.icon1{
    width: 0.54rem;
    height: 0.56rem;
}
.action1Head{
    font-size: 0.28rem;
    color: white;
}
.action1Para{
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    opacity: 1;
    width: 80%;
    margin-left: 0rem;
    margin-top: 0.1rem;
}
.main3{

    width: 1440px;
    height: 1356px;
    
}
.knowBtn{
    margin-left: 1.6rem;
    padding: 0.1rem 0.25rem 0.1rem 0.25rem;
    background-color: #354463;
    color: white;
    border: 0;
    margin-top: 1.25rem;
}
.define{
    display: flex;
    flex-direction: row;
}
.defineHead{
    font: normal normal bold 0.432rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    width: 24%;
    margin-left: 1.6rem;
    text-align: left;
}
.definePara{
    font: normal normal 300 20px/30px Helvetica;
    letter-spacing: -0.4px;
    color: #354463;
    opacity: 1;
    width: 32%;
}
.photoContainer{
    margin-top: 1.5rem;
    margin-right: 1.6rem;
    margin-left: 1.6rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.photo1{
    width: 90%;
}
.nameBtn{
    position: absolute;
    margin-top: 3.5rem;
    margin-left: -2.6rem;
    padding: 0.1rem 0.35rem 0.1rem 0.35rem;
    background-color: #354463;
    color: white;
    border: 0;
    font-size: 0.16rem;
}
.pic{
    margin-top: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;
}
.main4{
    background-image: url('assets/assets/about-us/Impact Background.png');
    width: 1440px;
    height: 670px;
    background-color:#354463;
    
}
.done2{
    margin-left: 6.5rem;
    margin-top: 1.5rem;
    font-size:0.15rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    border:0;
}
.main4Head{
    width: 742px;
    height: 109px;
    margin-top: 0.25rem;
    text-align: center;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.quantity1Head{
    width: 256px;
    height: 55px;
    text-align: center;
    font: normal normal normal 72px/76px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.quantityContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 1rem;
}
.quantity1Para{
    width: 244px;
    height: 73px;
    text-align: center;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.main5{
    width: 1440px;
    height: 1030px;
    /* UI Properties */
    background-color: #354463;
    opacity: 1;
    border-top: 1rem;
    border: 0.00001px solid #354463;
}
.main5Header{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.main5Head{
    width: 964px;
    height: 160px;
    text-align: left;
    font: normal normal normal 72px/76px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 1.6rem;
}
.iconArrow{
    width: 64px;
    height: 64px;
    /* UI Properties */
    background-color: #C1F7D5;
    opacity: 1;
    border-radius:50%;
    
}
.arrow{
    font-size: 0.1rem;
    font-weight: 800;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.a1{
    margin-left: 0.25rem;
    margin-top: 0.25rem;
}
.photo2{
    width: 545px;
    height: 394px;
    opacity: 1;
}
.main5PhotoContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 0.75rem;
    gap: 0rem;
    margin-left: 0.5rem;
}
.main5Content{
    width: 517px;
    height: 180px;
    padding: 0.15rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 0rem;
    margin-right: 0.25rem;
    margin-top: -0.21rem;
}
.main5ContentHead{
    width: 448px;
    height: 73px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}
.main5ContentPara{
    width: 416px;
    height: 94px;
    opacity: 1;
    font-size: 0.22rem;
}
.done3{
    margin-left: 1rem;
    font-size:0.15rem;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    border:0;
    position: absolute;
    margin-top: -0.2rem;
}
.actionList{
    width: 1440px;
    height: 208px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 0.88rem;
    display: flex;
}
.actionsBottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1.6rem;
}
.actB{
    width: 544px;
    height: 70px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}
.actB1{
    
    margin-left: 0.5rem;
}
#email{
    width: 352px;
    height: 48px;
    background-color: #FFFFFF ;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font-size: 0.22rem;
    border:0;
    margin-bottom: 0.55rem;
}
.read{
    width: 160px;
    height: 48px;
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #C1F7D5;
    border: 0;
}
.footSection{
    margin-left:1.7rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    color: #354463;
    margin-bottom: 0.5rem;
}
.footTitle{
    font-size: 0.3rem;
    width: 15%;
}
.footDetails, .footDetails1{
    font-size: 0.15rem;
    margin-left: 0.6rem;
}
.stopNotice1{
    letter-spacing: 0px;
    color: #354463;
    margin-top:0rem; font-size: 0.44rem; 
    margin-left: 0rem;
    font-family:  "Flood Std";
    width: 20%;
}

@media (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
    }
    .navBar{
        margin-top: 0.3rem;
        width: 4.4rem;
        height: 128px;
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 0.22rem;
        font-weight: 700;
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-left: 0.3rem;
        text-align: left;
    }
    .navRight{
        font-size: 0.1rem;
        width:60%;
        margin-left: 0.05rem; 
        display: flex;
        margin-top: 0.15rem;
        margin-right: 0.4rem;
        margin-bottom: 0.15rem;
        justify-content: space-evenly;
        color: #354463;
    }
    
    .donation{
        width: 130px;
        height: 38px;
        margin-top:-0.7rem;
        border-radius: 0.4rem;
        font-size: 0.16rem;
        font-weight: 600;
        background-color:#C1F7D5;
        outline: 0;
        border:0;
        cursor: pointer;
        margin-left: 3rem;
    }

    .main1{
        background-image: url('assets/assets/about-us/annie-spratt-427339-unsplash.png');
        width: 4.4rem;
        height: 4rem;
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 1;
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
    }
    .defIssue{
        margin-left: 0.2rem;
        margin-top:0.25rem;
        width:80%;
        height: 1.5rem;
        background-color: #FFFFFF;
        font-size: 0.16rem;
        padding-left: 0.5rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
        opacity: 1;
    }
    
    #linkRead{
        font-size: 35%;
        color: #354463;
        font-weight: 90;
        margin-bottom: 0.25rem;
        margin-top: 0.3rem;
    }
    .para{
        display: flex;
        flex-direction: column;
    }
    .issue{
        background-color: #354463;
        width: 35%;
        padding: 0 0.2rem 0 0.2rem;
        outline: 0;
        border: 0;
        height: 0.4rem;
        color: white;
        font-size: 0.15rem;
        margin-top: -0.2rem;
        margin-bottom: 0.3rem;
        margin-left: 0rem;
    }
    .stopNotice, .stopNotice1{
        margin-left: 0.64rem;
        font-size: 0.34rem;
        font-family:  "Flood Std";
        color: white;
        margin-top: 0.4rem;
        width: 20%;
    }

    .main2{
        background-color: #354463;
        width: 4.4rem;
        height: 1000px;
    }
    .done{
        margin-top: 0rem;
        margin-left: 0.2rem;
        font-size:0.15rem;
        padding: 0.05rem 0.1rem 0.05rem 0.1rem;
        border:0;
    }
    .workText{
        margin-left: 0.2rem;
        color: white;
        text-align: left;
        font: normal normal bold 0.2rem Helvetica;
        margin-right: 0.2rem;
    }
    .actionContainer{
        margin-left:0.2rem;
        margin-right: 0.2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.15rem;
    }
    .action1{
        margin-left: 0rem;
        margin-top: 0.1rem;
    }
    .icon1{
        width: 0.25rem;
        height: 0.25rem;
    }
    .action1Head{
        font-size: 0.16rem;
        color: white;
    }
    .action1Para{
        text-align: left;
        font: normal normal 300 0.1rem Helvetica;
        letter-spacing: -0.16px;
        color: #FFFFFF;
        opacity: 1;
        width: 80%;
        margin-left: 0rem;
        margin-top: 0.1rem;
        margin-bottom: 0rem;
    }

    .main3{

        width: 4.4rem;
        height: 960px;
        
    }
    .knowBtn{
        margin-left: 0.2rem;
        padding: 0.1rem 0.25rem 0.1rem 0.25rem;
        background-color: #354463;
        color: white;
        border: 0;
        margin-top: 0.2rem;
    }
    .define{
        display: flex;
        flex-direction: row;
    }
    .defineHead{
        font: normal normal bold 0.16rem Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        width: 30%;
        margin-left: 0.2rem;
        text-align: left;
    }
    .definePara{
        font: normal normal 300 0.12rem Helvetica;
        letter-spacing: -0.4px;
        color: #354463;
        opacity: 1;
        width: 50%;
        margin-left: 0.5rem;
    }
    .photoContainer{
        margin-top: 0.5rem;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .photo1{
        width: 90%;
    }
    .nameBtn{
        position: absolute;
        margin-top: 2rem;
        margin-left: -1.5rem;
        padding: 0.05rem 0.15rem 0.05rem 0.15rem;
        background-color: #354463;
        color: white;
        border: 0;
        font-size: 0.1rem;
    }
    .pic{
        margin-top: 0.3rem;
        width: 1.8rem;
        height: 1.8rem;
    }

    .main4{
        background-image: url('assets/assets/about-us/Impact Background.png');
        width: 4.4rem;
        height: 640px;
        background-color:#354463;
        
    }
    .done2{
        margin-left: 1.8rem;
        margin-top: 0.5rem;
        font-size:0.12rem;
        padding: 0.05rem 0.1rem 0.05rem 0.1rem;
        border:0;
    }
    .main4Head{
        width: 4rem;
        margin-left: 0.2rem;
        height: 109px;
        margin-top: 0.25rem;
        text-align: center;
        font: normal normal bold 0.22rem Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .quantity1Head{
        width: 180px;
        height: 55px;
        text-align: center;
        font: normal normal normal 44px/76px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .quantityContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        margin-top: 0.5rem;
    }
    .quantity1Para{
        width: 180px;
        height: 73px;
        text-align: center;
        font: normal normal bold 16px/36px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .main5{
        width: 4.38rem;
        height: 1030px;
        /* UI Properties */
        background-color: #354463;
        opacity: 1;
        border-top: 1rem;
        border: 0.00001px solid #354463;
    }
    .main5Header{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
    }
    .main5Head{
        width: 3.6rem;
        height: 160px;
        text-align: left;
        font: normal normal normal 0.3rem Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-left: 0.2rem;
    }
    .iconArrow{
        width: 44px;
        height: 44px;
        /* UI Properties */
        background-color: #C1F7D5;
        opacity: 1;
        border-radius:50%;
        
    }
    .arrow{
        font-size: 0.1rem;
        font-weight: 800;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .a1{
        margin-right: 0rem;
    }
    .photo2{
        width: 1.6rem;
        height: 160px;
        opacity: 1;
    }
    .main5PhotoContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 0.25rem;
        gap: 0rem;
        margin-left: 0.2rem;
    }
    .main5Content{
        width: 130px;
        height: 180px;
        padding: 0.15rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        margin-left: 0rem;
        margin-right: 0.25rem;
        margin-top: -0.21rem;
    }
    .main5ContentHead{
        width: 130px;
        height: 94px;
        text-align: left;
        font: normal normal bold 0.16rem Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .main5ContentPara{
        width: 130px;
        height: 94px;
        opacity: 1;
        font-size: 0.1rem;
    }
    .done3{
        margin-left: 0.5rem;
        font-size:0.12rem;
        padding: 0.05rem 0.15rem 0.05rem 0.15rem;
        border:0;
        position: absolute;
        margin-top: -0.15rem;
    }

    .actionList{
        width: 4.4rem;
        height: 208px;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        opacity: 1;
        margin-top: 0.88rem;
        display: flex;
    }
    .actionsBottom{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0.2rem;
    }
    .actB{
        width: 360px;
        height: 70px;
        /* UI Properties */
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .actB1{
        margin-left: 0rem;
        margin-top: 0.15rem;
        display: flex;
        flex-direction: row;
    }
    #email{
        width: 250px;
        height: 38px;
        background-color: #FFFFFF ;
        border-radius: 100px;
        opacity: 1;
        text-align: left;
        font-size: 0.12rem;
        padding-left: 0.15rem;
        border:0;
        margin-bottom: 0.55rem;
    }
    .read{
        width: 120px;
        height: 38px;
        background: #354463 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        position: absolute;
        font: normal normal bold 10px/22px Helvetica;
        letter-spacing: 0px;
        color: #C1F7D5;
        border: 0;
        margin-left: 2.8rem;
        margin-top: 1.55rem;
    }
    .footSection{
        width: 4.4rem;
        margin-left:0.2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem;
        margin-top: 0.5rem;
        color: #354463;
        margin-bottom: 0.5rem;
        margin-right: 0.2rem;
    }
    .footTitle{
        font-size: 0.20rem;
        width: 50%;
    }
    .footDetails, .footDetails1{
        font-size: 0.1rem;
        width: 80%;
        margin-left: -0.15rem;
    }
    .footDetails1{
        margin-left: 0.5rem;
        margin-top: 0.2rem;
    }
    .stopNotice1{
        letter-spacing: 0px;
        color: #354463;
        margin-top:0.2rem; font-size: 0.44rem; 
        margin-left: 0.5rem;
        font-family:  "Flood Std";
        width: 20%;
    }
}

@media (max-width: 376px){
    .navBar{
        margin-top: 0.3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .title{
        font-size: 0.16rem;
        font-weight: 700;
        width: 150%;
        display: flex;
        flex-direction: column;
        margin-left: 0.25rem;
        margin-top: 0.12rem;
    }
    .navRight{
        font-size: 0.14rem;
        width:1.5rem;
        margin-left: -1.75rem; 
        display: flex;
        margin-top: 0rem;
        margin-right: 0.5rem;
        margin-bottom: 0.17rem;
        flex-direction: column;
        color: #354463;
    }
    .donation{
        height: 0.45rem;
        width: 3.4rem;
        margin-right: 0.15rem;
        border-radius: 1rem;
        font-size: 0.2rem;
        font-weight: 600;
        background-color:#C1F7D5;
        outline: 0;
        border:0;
        cursor: pointer;
        margin-top:0.25rem;
        margin-left: 0.2rem;
    }

    .main1{
        background-image: url('assets/assets/about-us/annie-spratt-427339-unsplash.png');
        width: 3.76rem;
        height: 4rem;
        background-repeat: no-repeat;
        background-position: center top;
        opacity: 1;
        margin-top: 0rem;
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
    }
    .defIssue{
        margin-left: 0.2rem;
        margin-top:0.25rem;
        width:77%;
        height: 1.5rem;
        background-color: #FFFFFF;
        font-size: 0.16rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
        opacity: 1;
    }
    
    #linkRead{
        font-size: 35%;
        color: #354463;
        font-weight: 90;
        margin-bottom: 0.25rem;
        margin-top: 0.3rem;
    }
    .para{
        display: flex;
        flex-direction: column;
    }
    .issue{
        background-color: #354463;
        width: 35%;
        padding: 0 0.2rem 0 0.2rem;
        outline: 0;
        border: 0;
        height: 0.4rem;
        color: white;
        font-size: 0.15rem;
        margin-top: -0.2rem;
        margin-bottom: 0.3rem;
        margin-left: 0rem;
    }
    .stopNotice, .stopNotice1{
        margin-left: 0.64rem;
        font-size: 0.34rem;
        font-family:  "Flood Std";
        color: white;
        margin-top: 0.4rem;
        width: 20%;
    }
    .main2{
        background-color: #354463;
        width: 3.76rem;
        height: 1120px;
    }
    .done{
        margin-top: 0rem;
        margin-left: 1.3rem;
        font-size:0.15rem;
        padding: 0.05rem 0.1rem 0.05rem 0.1rem;
        border:0;
    }
    .workText{
        margin-left: 0.2rem;
        color: white;
        text-align: center;
        font: normal normal bold 0.2rem Helvetica;
        margin-right: 0.2rem;
    }
    .actionContainer{
        margin-left:0.2rem;
        margin-right: 0.2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.15rem;
    }
    .action1{
        margin-left: 0rem;
        margin-top: 0.1rem;
    }
    .icon1{
        width: 0.25rem;
        height: 0.25rem;
    }
    .action1Head{
        font-size: 0.16rem;
        color: white;
    }
    .action1Para{
        text-align: left;
        font: normal normal 300 0.1rem Helvetica;
        letter-spacing: -0.16px;
        color: #FFFFFF;
        opacity: 1;
        width: 80%;
        margin-left: 0rem;
        margin-top: 0.1rem;
        margin-bottom: 0rem;
    }


    .main3{

        width: 3.76rem;
        height: 1060px;
        
    }
    .knowBtn{
        margin-left: 1.3rem;
        padding: 0.1rem 0.25rem 0.1rem 0.25rem;
        background-color: #354463;
        color: white;
        border: 0;
        margin-top: 0.2rem;
    }
    .define{
        display: flex;
        flex-direction: column;
        margin-top: 0.25rem;
    }
    .defineHead{
        font: normal normal bold 0.24rem Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        width: 90%;
        margin-left: 0.2rem;
        text-align: center;

    }
    .definePara{
        font: normal normal 300 0.12rem Helvetica;
        letter-spacing: -0.4px;
        color: #354463;
        opacity: 1;
        width: 90%;
        margin-left: 0.2rem;
        text-align: center;
        margin-top: 0.25rem;
    }
    .photoContainer{
        margin-top: 0.5rem;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.25rem;
    }
    .photo1{
        width: 90%;
    }
    .nameBtn{
        position: absolute;
        margin-top: -0.35rem;
        margin-left: 0.1rem;
        padding: 0.05rem 0.15rem 0.05rem 0.15rem;
        background-color: #354463;
        color: white;
        border: 0;
        font-size: 0.12rem;
        width: 40%;
    }
    .pic{
        margin-top: 0.3rem;
        width: 1.6rem;
        height: 1.6rem;
    }


    .main4{
        background-image: url('assets/assets/about-us/Impact Background.png');
        width: 3.76rem;
        height: 650px;
        background-color:#354463;
        background-repeat: no-repeat;
    }
    .done2{
        margin-left: 1.35rem;
        font-size:0.12rem;
        padding: 0.05rem 0.1rem 0.05rem 0.1rem;
        border:0;
    }
    .main4Head{
        width: 3.4rem;
        margin-left: 0.2rem;
        height: 60px;
        margin-top: 0.25rem;
        text-align: center;
        font: normal normal bold 0.22rem Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .quantity1Head{
        width: 180px;
        height: 45px;
        text-align: center;
        font: normal normal normal 28px/76px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .quantityContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0.75rem;
        margin-right: 0.2rem;
        margin-top: 0rem;
    }
    .quantity1Para{
        width: 180px;
        height: 20%;
        text-align: center;
        font: normal normal bold 16px/36px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }


    .main5{
        width: 3.72rem;
        height: 700px;
        /* UI Properties */
        background-color: #354463;
        opacity: 1;
        border-top: 1rem;
        border: 0.00001px solid #354463;
    }
    .main5Header{
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
    }
    .main5Head{
        width: 3.6rem;
        height: 100px;
        text-align: left;
        font: normal normal normal 0.3rem Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-left: 0.2rem;
    }
    .iconArrow{
        width: 44px;
        height: 44px;
        /* UI Properties */
        background-color: #C1F7D5;
        opacity: 1;
        border-radius:50%;
        margin: auto;
        
    }
    .arrow{
        font-size: 0.1rem;
        font-weight: 800;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .a1{
        margin-right: 0rem;
    }
    .photo2{
        width: 3.3rem;
        height: 160px;
        opacity: 1;
    }
    .main5PhotoContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 0.25rem;
        gap: 0rem;
        margin-left: 0.2rem;
    }
    .main5Content{
        width: 300px;
        height: 180px;
        padding: 0.15rem;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        margin-left: 0rem;
        margin-right: 0.25rem;
        margin-top: -0.21rem;
    }
    .main5ContentHead{
        width: 280px;
        height: 94px;
        text-align: center;
        font: normal normal bold 0.22rem Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .main5ContentPara{
        width: 290px;
        height: 94px;
        opacity: 1;
        font-size: 0.16rem;
    }
    .done3{
        margin-left: 1rem;
        font-size:0.16rem;
        padding: 0.1rem 0.4rem 0.1rem 0.4rem;
        border:0;
        position: absolute;
        margin-top: -0.15rem;
    }


    .actionList{
        width: 3.76rem;
        height: 208px;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        opacity: 1;
        margin-top: 0.88rem;
        display: flex;
    }
    .actionsBottom{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0.2rem;
    }
    .actB{
        width: 360px;
        height: 70px;
        /* UI Properties */
        text-align: left;
        font: normal normal bold 22px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .actB1{
        margin-left: 0rem;
        margin-top: 0.15rem;
        display: flex;
        flex-direction: row;
    }
    #email{
        width: 180px;
        height: 38px;
        background-color: #FFFFFF ;
        border-radius: 100px;
        opacity: 1;
        text-align: left;
        font-size: 0.12rem;
        padding-left: 0.15rem;
        border:0;
        margin-bottom: 0.55rem;
    }
    .read{
        width: 120px;
        height: 38px;
        background: #354463 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        position: absolute;
        font: normal normal bold 10px/22px Helvetica;
        letter-spacing: 0px;
        color: #C1F7D5;
        border: 0;
        margin-left: 2rem;
        margin-top: 1.55rem;
    }
    .footSection{
        width: 4.4rem;
        margin-left:0.2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
        margin-top: 0.5rem;
        color: #354463;
        margin-bottom: 0.5rem;
        margin-right: 0.2rem;
        margin-top: 2.5rem;
    }
    .footTitle{
        font-size: 0.20rem;
        width: 50%;
    }
    .footDetails, .footDetails1{
        font-size: 0.1rem;
        width: 80%;
        margin-left: -0.15rem;
    }
    .footDetails1{
        margin-left: -0.15rem;
        margin-top: 0rem;
    }
    .stopNotice1{
        letter-spacing: 0px;
        color: #354463;
        margin-top:0.2rem; font-size: 0.44rem; 
        margin-left: 0.5rem;
        font-family:  "Flood Std";
        width: 20%;
    }
}