:root{
    font-size: 100px;
    font-family: 'helvetica';
}
*{
    margin: 0;
    padding: 0;
}
.pageTitle{
    
    text-align: center; font: normal normal bold 28px/36px Helvetica; letter-spacing: 0px; color: #354463; opacity: 1; width: 12%; margin: auto;
    margin-top:0.28rem;
}
.signIn{
   
    background: transparent url('assets/assets/donation/annie-spratt-427340-unsplash.png') 0% 0% no-repeat padding-box;
    width: 14.4rem;
    height: 12.24rem;
    margin: auto;
    margin-top: 0.28rem;
    display: flex;
    color: white;
}
.formsSign{
    width: 40%;
    height: 10.16rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
}
.formsText{
    width: 30%;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
    font: normal normal normal 72px/76px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.formsSignHead{
    font: normal normal bold 0.28rem/0.36rem Helvetica;
    color: white;
    margin-top: 0.5rem;
    margin-left: 0.64rem;
}
.formssignInf1{
    font-size: 0.14rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.25rem; 
    display: flex;
    justify-content: space-evenly;
}
.formssignInf1 input[type="text"] {
    background-color: #354463;
    margin-top: 0.13rem;
    border: 2px solid #C1F7D5;
    border-top: 0;
    border-left:0;
    border-right: 0;
    font-size:0.2rem;
    padding-bottom:0.13rem;
    width: 2rem;
    font-weight: 70;
}
.formssignInf1a{
    width: 40%;
}
.formssignInf1b{
    width: 40%;
}
.formssignInf2{
    font-size: 0.14rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: 0.25rem; 
}

.formssignInf2 input[type="address"] {
    background-color: #354463;
    margin-top: 0.13rem;
    border: 2px solid #C1F7D5;
    border-top: 0;
    border-left:0;
    border-right: 0;
    font-size:0.2rem;
    padding-bottom:0.13rem;
    width: 100%;
    font-weight: 70;
}

.formssignInf3{
    font-size: 0.14rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: 0.25rem; 
    display: flex;
    justify-content: space-between;
}
.formssignInf3a{
    width: 40%;
}
.formssignInf3b{
    width: 10%;
}
.formssignInf3c{
    width: 20%;
    margin-left: 0;
}
.formssignInf3a input[type="text"] {
    background-color: #354463;
    margin-top: 0.13rem;
    border: 2px solid #C1F7D5;
    border-top: 0;
    border-left:0;
    border-right: 0;
    font-size:0.2rem;
    padding-bottom:0.13rem;
    width: 2rem;
    font-weight: 70;
}
.formssignInf3b select {
    background-color: #354463;
    margin-top: 0.13rem;
    border: 2px solid #C1F7D5;
    border-top: 0;
    border-left:0;
    border-right: 0;
    font-size:0.2rem;
    padding-bottom:0.13rem;
    width: 0.85rem;
    font-weight: 70;
    letter-spacing: -0.4px;
    color: #C1F7D5;
    outline: 0;
}
.formssignInf3c input[type="text"] {
    background-color: #354463;
    margin-top: 0.13rem;
    border: 2px solid #C1F7D5;
    border-top: 0;
    border-left:0;
    border-right: 0;
    font-size:0.2rem;
    padding-bottom:0.13rem;
    width: 0.85rem;
    font-weight: 70;
}

.formssignInf4{
    font-size: 0.14rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: 0.25rem; 
    display: flex;
}

.formssignInf4a input[type="text"] {
    background-color: #354463;
    margin-top: 0.13rem;
    border: 2px solid #C1F7D5;
    border-top: 0;
    border-left:0;
    border-right: 0;
    font-size:0.2rem;
    padding-bottom:0.13rem;
    width: 0.85rem;
    font-weight: 70;
    margin-right: 0.25rem;
}

.formssignInf4b input[type="text"] {
    background-color: #354463;
    margin-top: 0.13rem;
    border: 2px solid #C1F7D5;
    border-top: 0;
    border-left:0;
    border-right: 0;
    font-size:0.2rem;
    padding-bottom:0.13rem;
    width: 1.25rem;
    font-weight: 70;
}
.goBack{
    
    margin-left: 0.7rem;
    margin-top: 0rem;
    display: flex;
}

#backLink{
    color: #C1F7D5;
    opacity: 1;
    font-size: 0.16rem;
    letter-spacing: -0.16px;
}
.linkBack{
    width: 50%;
}
.processBtn{
    width: 50%;
    
    float: right;
    margin-right: 0.7rem;
}
#btnLink{
    border:0.15rem solid #C1F7D5;
    outline:0;
    font-size: 0.22rem;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
}
.footSection{
    margin-left:1.7rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    color: #354463;
}
.footTitle{
    font-size: 0.22rem;
    width: 11%;
}
.footDetails, .footDetails1{
    font-size: 0.15rem;
    margin-left: 1.2rem;
}
.stopNotice1{
    color:#354463; 
    margin-top:0rem; 
    font-size: 0.44rem;
    font-family:"Flood std";
    margin-left: 1.5rem;
    width: 20%;
    float: right;
}

@media (max-width: 768px){
    .pageTitle{
        text-align: center; 
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        width: 22%;
    }
    .signIn{
       
        background-image: url('assets/assets/donation/annie-spratt-427340-unsplash@2x.png') ;
        width: 7.68rem;
        height: 13.96rem;
        margin: auto;
        margin-top: 0.28rem;
        display: flex;
        flex-direction: column-reverse;
        color: white;
    }
    .formsSign{
        width: 80%;
        height: 11.96rem;
        margin-left: 0.7rem;
        background-color: #354463;
        margin-bottom: 0.64rem;
    }
    .formsText{
        width: 60%;
        text-align: center;
        margin: auto;
        font: normal normal normal 44px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: 0.86rem;
    }
    .formsSignHead{
        font: normal normal bold 0.28rem/0.36rem Helvetica;
        color: white;
        margin-top: 0.5rem;
        margin-left: 0.64rem;
    }
    .formssignInf1{
        font-size: 0.14rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        margin-top: 0.25rem; 
        display: flex;
        justify-content: space-evenly;
    }
    .formssignInf1 input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.2rem;
        padding-bottom:0.13rem;
        width: 2rem;
        font-weight: 70;
    }
    .formssignInf1a{
        width: 40%;
    }
    .formssignInf1b{
        width: 40%;
    }
    .formssignInf2{
        font-size: 0.14rem;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-top: 0.25rem; 
    }
    
    .formssignInf2 input[type="address"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.2rem;
        padding-bottom:0.13rem;
        width: 100%;
        font-weight: 70;
    }
    
    .formssignInf3{
        font-size: 0.14rem;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-top: 0.25rem; 
        display: flex;
        justify-content: space-between;
    }
    .formssignInf3a{
        width: 40%;
    }
    .formssignInf3b{
        width: 10%;
    }
    .formssignInf3c{
        width: 20%;
        margin-left: 0;
    }
    .formssignInf3a input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.2rem;
        padding-bottom:0.13rem;
        width: 2rem;
        font-weight: 70;
    }
    .formssignInf3b select {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.2rem;
        padding-bottom:0.13rem;
        width: 0.85rem;
        font-weight: 70;
        letter-spacing: -0.4px;
        color: #C1F7D5;
        outline: 0;
    }
    .formssignInf3c input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.2rem;
        padding-bottom:0.13rem;
        width: 0.85rem;
        font-weight: 70;
    }
    
    .formssignInf4{
        font-size: 0.14rem;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-top: 0.25rem; 
        display: flex;
    }
    
    .formssignInf4a input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.2rem;
        padding-bottom:0.13rem;
        width: 0.85rem;
        font-weight: 70;
        margin-right: 0.25rem;
    }
    
    .formssignInf4b input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.2rem;
        padding-bottom:0.13rem;
        width: 1.25rem;
        font-weight: 70;
    }
    .goBack{
        
        margin-left: 0.7rem;
        margin-top: 0rem;
        display: flex;
    }
    
    #backLink{
        color: #C1F7D5;
        opacity: 1;
        font-size: 0.16rem;
        letter-spacing: -0.16px;
    }
    .linkBack{
        width: 50%;
    }
    .processBtn{
        width: 50%;
        
        float: right;
        margin-right: 0.7rem;
    }
    #btnLink{
        border:0.15rem solid #C1F7D5;
        outline:0;
        font-size: 0.22rem;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 0.25rem;
        font-weight: bold;
        cursor: pointer;
    }
    .footSection{
        margin-left:0.64rem;
        display: grid;
        color: #354463;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.15rem;
    }
    .footTitle{
        font-size: 0.22rem;
        width: 50%;
        margin-top: 0rem;
    }
    .footDetails, .footDetails1{
        font-size: 0.12rem;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    .stopNotice1{
        color:#354463; 
        font-size: 0.44rem;
        font-family:"Flood std";
        margin-left: 1.5rem;
        width: 20%;
        float: right;
    }
}



@media (max-width: 376px){
    .pageTitle{
        margin: auto;
        text-align: center; 
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        width: 45%;
        margin-top: 0.28rem;
    }
    .signIn{
       
        background-image: url('assets/assets/donation/annie-spratt-427340-unsplash@2x.png') ;
        background-position: center left;
        width: 3.76rem;
        height: 12.64rem;
        margin: auto;
        margin-top: 0.28rem;
        display: flex;
        flex-direction: column-reverse;
        color: white;
    }
    .formsSign{
        width: 90%;
        height: 9.96rem;
        margin-left: 0.2rem;
        background-color: #354463;
        margin-bottom: 0.64rem;
    }
    .formsText{
        width: 90%;
        text-align: center;
        margin: auto;
        font: normal normal normal 32px/46px Flood Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: 0.86rem;
    }
    .formsSignHead{
        font: normal normal bold 0.22rem/0.36rem Helvetica;
        color: white;
        margin-top: 0.5rem;
        margin-left: 0.15rem;
    }
    .formssignInf1{
        font-size: 0.11rem;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        margin-top: 0.25rem; 
        display: flex;
        justify-content: space-evenly;
    }
    .formssignInf1 input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.12rem;
        padding-bottom:0.13rem;
        width: 1.2rem;
        font-weight: 70;
    }
    .formssignInf1a{
        width: 50%;
    }
    .formssignInf1b{
        width: 50%;
    }
    .formssignInf2{
        font-size: 0.11rem;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        margin-top: 0.25rem; 
    }
    
    .formssignInf2 input[type="address"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.12rem;
        padding-bottom:0.13rem;
        width: 100%;
        font-weight: 70;
    }
    
    .formssignInf3{
        font-size: 0.11rem;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        margin-top: 0.25rem; 
        display: flex;
        justify-content: space-between;
    }
    .formssignInf3a{
        width: 40%;
    }
    .formssignInf3b{
        width: 10%;
    }
    .formssignInf3c{
        width: 20%;
        margin-left: 0;
    }
    .formssignInf3a input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.11rem;
        padding-bottom:0.13rem;
        width: 1.2rem;
        font-weight: 70;
    }
    .formssignInf3b select {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.12rem;
        padding-bottom:0.13rem;
        width: 0.4rem;
        font-weight: 70;
        letter-spacing: -0.4px;
        color: #C1F7D5;
        outline: 0;
        margin-left: 0rem;
    }
    .formssignInf3c input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.12rem;
        padding-bottom:0.13rem;
        width: 0.6rem;
        font-weight: 70;
    }
    
    .formssignInf4{
        font-size: 0.12rem;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        margin-top: 0.25rem; 
        display: flex;
    }
    
    .formssignInf4a input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.12rem;
        padding-bottom:0.13rem;
        width: 0.85rem;
        font-weight: 70;
        margin-right: 0.25rem;
    }
    
    .formssignInf4b input[type="text"] {
        background-color: #354463;
        margin-top: 0.13rem;
        border: 2px solid #C1F7D5;
        border-top: 0;
        border-left:0;
        border-right: 0;
        font-size:0.12rem;
        padding-bottom:0.13rem;
        width: 1rem;
        font-weight: 70;
    }
    .goBack{
        
        margin-left: 0.15rem;
        margin-top: 0rem;
        display: flex;
    }
    
    #backLink{
        color: #C1F7D5;
        opacity: 1;
        font-size: 0.12rem;
        letter-spacing: -0.16px;
    }
    .linkBack{
        width: 50%;
    }
    .processBtn{
        width: 50%;
        
        float: right;
        margin-right: 0.15rem;
    }
    #btnLink{
        border:0.15rem solid #C1F7D5;
        outline:0;
        font-size: 0.12rem;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 0.25rem;
        font-weight: bold;
        cursor: pointer;
    }
    .footSection{
        margin-left:0.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        margin-top: 0.5rem;
        color: #354463;
    }
    .footTitle{
        font-size: 0.25rem;
        width: 70%;
    }
    .footDetails{
        font-size: 0.12rem;
        margin-left: 0rem;
        width: 50%;
        margin-top:0.20rem;
    }
    .stopNotice1{
        font-size: 0.44rem;
        margin-top: 0.5rem;
        margin-left:0;
    }
    .footDetails1{
        margin-left: -0.25rem;
        margin-top: 0.2rem;
    }
}