:root{
    font-size:100px;
    font-family: "helvetica";
}
*{
    margin: 0;
    padding: 0;
}
.navBar{
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
}

.title{
    font-size: 0.25rem;
    font-weight: 700;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
.navRight{
    font-size: 0.18rem;
    width:40%;
    margin-left: 4rem;
    display: flex;
    margin: auto;
    justify-content: space-around;
    color: #354463;
}
.donation{
    height: 0.45rem;
    margin:auto;
    margin-right: 2rem;
    width: 2rem;
    border-radius: 1rem;
    font-size: 0.2rem;
    font-weight: 600;
    background-color:#C1F7D5;
    outline: 0;
    border:0;
    cursor: pointer;
}
.topMain{
    background-image: url('assets/assets/home/annie-spratt-135307-unsplash@3x.png');
    background-size: cover;
    width: 100%;
    height: 8rem;
    margin-top: 0.4rem;
    border: 0.000001rem solid transparent;
    display: flex;
    border-bottom:0;
}

.defIssue{
    margin-left: 2.5rem;
    margin-top:2rem;
    width:28%;
    height: 45%;
    background-color: white;
    font-size: 44%;
    padding-left: 0.5rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color:#354463;
}

#linkRead{
    font-size: 35%;
    color: #354463;
    font-weight: 90;
    margin-bottom: 0.25rem;
    margin-top: 0.3rem;
}
.para{
    display: flex;
    flex-direction: column;
}
.issue{
    background-color: #354463;
    width: 35%;
    padding: 0 0.2rem 0 0.2rem;
    outline: 0;
    border: 0;
    height: 0.4rem;
    color: white;
    font-size: 0.15rem;
    margin-top: -0.2rem;
    margin-bottom: 0.3rem;
}

.stopNotice, .stopNotice1{
    margin-left: 2.5rem;
    font-size: 0.7rem;
    font-family:  "Flood Std";
    color: white;
    margin-top: 2rem;
    width: 20%;
}
.cardHeader{
    font-size:0.3rem; color: #354463;
}
.actionList{
    font-size: 0.25rem;
    padding-left: 1rem;
    padding-right: 0.8rem;
    padding-bottom:0.8rem;
    background-color:#C1F7D5;
    display: flex;
    flex-direction: column;
}
.actions, .actionsBottom{
    display: flex;
    flex-direction: row;
    margin-top: 0.6rem;
    justify-content: space-evenly;
}
.actionsBottom{
    margin-left:0.75rem;
}
.act, .actB, .actB1{
    margin-right: 0.7rem;
    width: 16%;
}
.actB1{
    width: 58%; margin: auto; display: flex;
}
.takeAction{
    background-color: #354463;
    width: 10%;
    padding: 0 0.2rem 0 0.2rem;
    outline: 0;
    border: 0;
    height: 0.4rem;
    color: white;
    font-size: 0.15rem;
    margin: auto;
    margin-top: -0.2rem;
}
.work{
    padding-bottom: 1.6rem;
    background-color: #354463;
}
.done{
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    font-size:0.15rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
.cardsContainer{
    margin: 0.8rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    width: 25%;
    height: 45%;
    background-color: white;
}
.cardImg{
    float: right;
    width: 3.25rem;
    height: 2.4rem;
    margin-top: -0.3rem;
    margin-right: -0.25rem;
}
.cardText{
    margin: 2.5rem 0.4rem 0.2rem 0.25rem;
}
.read, .readEventBtn{
    margin-top: 0;
    padding: 0.1rem 0.4rem;
    color: #354463;
    background-color: #C1F7D5;
    font-size: 0.18rem;
    border-radius: 0.25rem;
    outline: 0;
    border:0;
    font-weight:700;
    cursor: pointer;
}

.know{
    background-image: url('assets/assets/home/did-you-know-background.png');
    background-size: cover;
    width: 100%;
    height: 14.4rem;
    border: 0.000001rem solid transparent;
    display: flex;
}
.knowleft{
    width: 50%;
}
.notice2{
    margin-left: 2rem;
    font-size: 0.7rem;
    font-family:  "Flood Std";
    color: white;
    margin-top: 2rem;
}
.action2{
    margin-left: 2rem;
    background-color: #C1F7D5;
    color: #354463;
    border:0;
    padding: 0.15rem 0.25rem;
    font-size: 0.18rem;
    font-weight: 700;
    border-radius: 0.22rem;
    cursor: pointer;
}
.knowRight{
    width: 50%;
    margin-left: 2.2rem;
    margin-top: 2rem;
}
.rightEarthHead{
    font-size: 0.45rem;
}

.card2{
    height:2rem;
    width: 70%;
    background-color: white;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}
.knowBtn{
    margin-left: 0.5rem;
    width: 25%;
    padding: 0.1rem 0 0.1rem 0;
    background-color: #354463;
    color: white;
    border: 0;
    margin-top: -0.15rem;
}
.card2Text{
    font-size: 0.15rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    width: 75%;
    display: flex;
    flex-direction: row;
}
.cardPara{
    font-size:0.15rem; margin-top:0.1rem; color: #354463; margin-right: 0.3rem;
}
.icons{
    margin-left: 1rem;
    width: 30;
    display: flex;
    flex-direction: column;
}
.iconD{
    float: right;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    margin: auto;
    background-color: #C1F7D5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.12rem;
    cursor: pointer;
}
.stories{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.leftStory{
    width: 31%;
    font-size: 0.28rem;
    color: white;
    margin: 2.6rem 0 0 2rem;
    margin-right: -0.6rem;
    z-index: 9;
}
.storyText{
    background-color:#354463;
    margin-bottom: 0.7rem;
    padding: 0.50rem;
}
.rightStory{
    width: 40%;
    margin-top:1rem;

}
.actB{
    width: 42%; font-weight: bold;
}
.workText{
    margin-left: 1.5rem;
    font-size: 0.45rem;
}

.storyBtn{
    margin-left: 0.6rem;
    width: 10%;
    padding: 0.1rem 0 0.1rem 0;
    background-color: #354463;
    color: white;
    border: 0;
    position: absolute;
    margin-top: -0.18rem;
}
.lastEvent{
    background-color:#354463;
    color: white;
    padding: 1rem 0.75rem 1rem 1.75rem;
}

.topLast{
    font-family: "Flood Std";
    width: 90%;
    
}
.rightStoryImg{
    height: 6rem;
}
.knowHead{
    font-size: 0.45rem;
    color: #354463;
}
.earthEvent{
    margin-top: 0.75rem;
    display: flex;
    flex-direction: row;
}
.leftEarth{
    width:60%;
}
.rightEarth{
    width:40%;
    margin-left: -1.2rem;
}
.textRightEarth{
    margin-top:0.4rem; 
    font-weight: lighter; 
    font-size: 0.20rem; 
    width: 70%;
}
.newsEvent{
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
}
.leftNews{
    width: 45%;
}
.leftNewsHeader{
    margin-top:0.75rem; 
    font-size: 0.45rem; 
    width: 58%;
}
.rightNewsImg{
    margin-left: -1rem;
}
.stopNotice1{
    color:black; margin-top:0rem; font-size: 0.44rem; margin-left:rem;
}
.read2{
    margin-top: 0;
    padding: 0.1rem 0.4rem;
    color: #354463;
    background-color: #C1F7D5;
    font-size: 0.18rem;
    border-radius: 0.25rem;
    outline: 0;
    border:0;
    font-weight:700;
    margin-left: 0rem;
    cursor: pointer;
}
#email{
    padding-left: 0.25rem;
    padding-right: 0.45rem;
    height: 100%;
    font-size: 0.2rem;
    color: #354463;
    font-weight: 70;
    border-radius: 0.2rem;
    border:0;
}
.footSection{
    margin-left:1.7rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    color: #354463;
}
.footTitle{
    font-size: 0.3rem;
    width: 20%;
}
.footDetails, .footDetails1{
    font-size: 0.15rem;
    margin-left: 0.6rem;
}

@media (max-width: 1483px) {
    .defIssue{
        margin-left: 2.5rem;
        margin-top:2rem;
        width:28%;
        height: 45%;
        background-color: white;
        font-size: 42%;
        padding-left: 0.5rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
    }
}

@media (max-width: 1410px) {
    .defIssue{
        margin-left: 2.5rem;
        margin-top:2rem;
        width:28%;
        height: 45%;
        background-color: white;
        font-size: 40%;
        padding-left: 0.5rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
    }
}

@media (max-width: 1220px) {
    .defIssue{
        margin-left: 2.5rem;
        margin-top:2rem;
        width:28%;
        height: 45%;
        background-color: white;
        font-size: 38%;
        padding-left: 0.5rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
    }
}
@media (max-width: 1155px) {
    .defIssue{
        margin-left: 2.5rem;
        margin-top:2rem;
        width:28%;
        height: 45%;
        background-color: white;
        font-size: 36%;
        padding-left: 0.5rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
    }
}

/* for tablets */
@media (max-width: 768px){
    .navBar{
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 0.3rem;
        font-weight: 700;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    .navRight{
        font-size: 0.18rem;
        width:50%;
        margin-left: 0.75rem; 
        display: flex;
        margin-top: 0.25rem;
        margin-right: 0.5rem;
        margin-bottom: 0.25rem;
        /* margin: auto; */
        justify-content: space-evenly;
        color: #354463;
    }
    
    .donation{
        height: 0.45rem;
        width: 2.2rem;
        margin-right: 0.15rem;
        margin-top:-1rem;
        border-radius: 1rem;
        font-size: 0.2rem;
        font-weight: 600;
        background-color:#C1F7D5;
        outline: 0;
        border:0;
        cursor: pointer;
    }
    .topMain{
        background-image: url('assets/assets/home/annie-spratt-135307-unsplash.png');
        width:100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 0;
        margin: auto;
        margin-top: 0.45rem;
        border: 0.000001rem solid transparent;
        display: flex;
        flex-direction:column-reverse;
    }

    .defIssue{
        margin: auto;
        margin-left: 0.5rem;
        margin-top: 0.25rem;
        width:80%;
        height: 30%;
        background-color: white;
        font-size: 38%;
        padding-left: 0.5rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
        margin-bottom: 0.3rem;
    }
    
    #linkRead{
        font-size: 45%;
        color: #354463;
        font-weight: 90;
        margin-bottom: 0.25rem;
        margin-top: 0.3rem;
    }
    .para{
        display: flex;
        justify-contents: wrap;
    }
    .issue{
        background-color: #354463;
        width: 30%;
        padding: 0 0.2rem 0 0.2rem;
        outline: 0;
        border: 0;
        height: 0.4rem;
        color: white;
        font-size: 0.15rem;
        margin-top: -0.2rem;
        margin-bottom: 0.3rem;
    }
    
    .stopNotice{
        margin-left: 0.5rem;
        font-size: 0.7rem;
        font-family:  "Flood Std";
        color: white;
        margin-top: 1rem;
        width: 20%;
    }

    .actionList{
        font-size: 0.25rem;
        background-color:#C1F7D5;
        display: flex;
    }
    .actions{
        margin-left: -0.5rem;
        margin-top: 0.6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.3rem;
    }
    .act{
        width: 100%;
    }
    
    .takeAction{
        background-color: #354463;
        width: 30%;
        padding: 0 0.2rem 0 0.2rem;
        outline: 0;
        border: 0;
        height: 0.4rem;
        color: white;
        font-size: 0.15rem;
        margin: auto;
        margin-top: -0.2rem;
    }
    .knowHead{
        font-size:0.25rem; 
        color: #354463;
    }
    .work{
        background-color: #354463;
        height: 13rem;
    }
    .done{
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        font-size:0.15rem;
        padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    }
    .cardsContainer{
        margin: 0.8rem 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
        height: 30%;
        background-color: white;
        margin-bottom: 0.5rem;
        display: flex;
    }


    .cardImg{
        float: left;
        width: 3rem;
        height: 2rem;
        margin-top: -0.3rem;
        margin-left: 0.3rem;
    }
    .cardText{
        margin-right: 0rem;
        margin-top: 0.2rem;
        margin-left: 0.4rem;
        width: 50%;
    }
    .read{
        margin-top: 0;
        padding: 0.1rem 0.4rem;
        color: #354463;
        background-color: #C1F7D5;
        font-size: 0.18rem;
        border-radius: 0.25rem;
        outline: 0;
        border:0;
        font-weight:700;
        margin-left: -2rem;
        cursor: pointer;
    }
    
    .workText{
        
        width: 80%;
        margin-left: 0.5rem;
        font-size: 0.32rem;
    }

    .know{
        background-image: url('assets/assets/home/did-you-know-background.png');
        background-size: cover;
        width: 100%;
        height: 10rem;
        border: 0.000001rem solid transparent;
        display: flex;
    }
    .knowleft{
        width: 20%;
    }
    .notice2{
        margin-left: 0.5rem;
        font-size: 0.5rem;
        font-family:  "Flood Std";
        color: white;
        margin-top: 0.75rem;
    }
    .action2{
        margin-left: 0.5rem;
        background-color: #C1F7D5;
        color: #354463;
        border:0;
        padding: 0.15rem 0.25rem;
        font-size: 0.18rem;
        font-weight: 700;
        border-radius: 0.22rem;
        cursor: pointer;
    }
    .knowRight{
        width: 100%;
        margin-left: 0.25rem;
        margin-top: 0.75rem;
        margin-right: -1rem;
    }
    .card2{
        height:1.5rem;
        background-color: white;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
    }
    .knowBtn{
        margin-left: 0.5rem;
        width: 33%;
        padding: 0.1rem 0 0.1rem 0;
        background-color: #354463;
        color: white;
        border: 0;
        margin-top: -0.15rem;
    }
    .card2Text{
        font-size: 0.15rem;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        width: 75%;
        display: flex;
        flex-direction: row;
    }
    .icons{
        margin-left: 1rem;
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    .iconD{
        float: right;
        height: 0.3rem;
        width: 0.3rem;
        border-radius: 50%;
        margin: auto;
        background-color: #C1F7D5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.12rem;
        cursor: pointer;
    }
    
    .storyBtn{
        margin-left: 0.6rem;
        width: 10%;
        padding: 0.1rem 0 0.1rem 0;
        background-color: #354463;
        color: white;
        border: 0;
        position: absolute;
        margin-top: -0.18rem;
    }
    .stories{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }
    
    .leftStory{
        font-size: 0.2rem;
        color: white;
        margin-top:-0.5rem;
        z-index: 9;
        width: 75%
    }
    .storyText{
        background-color:#354463;
        margin-bottom: 0.5rem;
        padding: 0.50rem;
    }
    .rightStory{
        margin-top:1rem;
        margin-left: 0.5rem;
    }
    .read2{
        margin-top: 0;
        padding: 0.1rem 0.4rem;
        color: #354463;
        background-color: #C1F7D5;
        font-size: 0.18rem;
        border-radius: 0.25rem;
        outline: 0;
        border:0;
        font-weight:700;
        margin-left: 0rem;
        cursor: pointer;
    }

    .lastEvent{
        background-color:#354463;
        color: white;
        padding: 0.5rem 0.5rem;
    }
    
    .topLast{
        font-family: "Flood Std";
        width: 90%;
        font-size: 0.5rem;
    }
    .earthEvent{
        margin-top: 0.75rem;
        display: flex;
        flex-direction: row;
    }
    .leftEarth{
        width:40%;
    }
    .lastEventImg{
        width:3rem;
        height: 3rem;
    }
    .rightEarth{
        width:40%;
        margin-left: 1.2rem;
        height: 4.7rem;
        display: flex;
        flex-direction: column;
    }
    .textRightEarth{
        margin-top:0.3rem; 
        font-weight: lighter; 
        font-size: 0.18rem; 
        width: 100%;
    }
    .newsEvent{
        display: flex;
        flex-direction: row;
        margin-top: 0.75rem;
    }
    .leftNews{
        width: 80%;
    }
    .readEventBtn{
        width: 70%;
        margin-top: 0.25rem;
    }
    .rightNewsImg{
        width: 65%;
        margin-left: 1rem;
    }
    .done{
        width: 30%;
        font-size: 0.15rem;
    }
    .leftNewsHeader{
        font-size: 0.25rem;
        width: 100%;
    }
    .actionsBottom{
        display: flex;
        flex-direction: column ;
        width: 70%;
        margin-left: -0.5rem;
    }
    .actB{
        width: 100%;
    }
    .actB1{
        margin-left: 0rem;
        margin-top:0.3rem;
    }
    .footSection{
        width: 7.68rem;
        margin-left:0.2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem;
        margin-top: 0.5rem;
        color: #354463;
        margin-bottom: 0.5rem;
        margin-right: 0.2rem;
    }
    .footTitle{
        font-size: 0.20rem;
        width: 50%;
    }
    .footDetails, .footDetails1{
        font-size: 0.1rem;
        width: 80%;
        margin-left: -0.15rem;
    }
    .footDetails1{
        margin-left: 0.5rem;
        margin-top: 0.2rem;
    }
    .stopNotice1{
        letter-spacing: 0px;
        color: #354463;
        margin-top:0.2rem; font-size: 0.44rem; 
        margin-left: 0.5rem;
        font-family:  "Flood Std";
        width: 20%;
    }

    
}
@media(max-width: 376px){
    .navBar{
        margin-top: 0.3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .title{
        font-size: 0.16rem;
        font-weight: 700;
        width: 150%;
        display: flex;
        flex-direction: column;
        margin-left: 0.25rem;
        margin-top: 0.12rem;
    }
    .navRight{
        font-size: 0.14rem;
        width:1.5rem;
        margin-left: -1.75rem; 
        display: flex;
        margin-top: 0rem;
        margin-right: 0.5rem;
        margin-bottom: 0.17rem;
        flex-direction: column;
        color: #354463;
    }
    .donation{
        height: 0.45rem;
        width: 3.76rem;
        margin-right: 0.15rem;
        border-radius: 1rem;
        font-size: 0.2rem;
        font-weight: 600;
        background-color:#C1F7D5;
        outline: 0;
        border:0;
        cursor: pointer;
        margin-top:0.25rem;
    }

    .topMain{
        background-image: url('assets/assets/home/annie-spratt-135307-unsplash.png');
        width:3.76rem;
        height: 6rem;
        margin-top: 0.45rem;
        border: 0.000001rem solid transparent;
        display: flex;
        flex-direction:column-reverse;
        justify-content: space-between;
    }

    .defIssue{
        margin-left: 0.25rem;
        margin-top: -1rem;
        margin-right: 0.25rem;
        width:78%;
        height: 40%;
        background-color: white;
        font-size: 27.5%;
        padding-left: 0.15rem;
        padding-right: 0.15rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
        color:#354463;
        margin-bottom: 0.3rem;
    }
    
    #linkRead{
        font-size: 46%;
        color: #354463;
        font-weight: 90;
        margin-bottom: 0.25rem;
        margin-top: 0.3rem;
        text-align: center;
    }
    .defIssue {
        text-align: center;
    }
    .issue{
        background-color: #354463;
        width: 50%;
        padding: 0 0.2rem 0 0.2rem;
        outline: 0;
        border: 0;
        height: 0.4rem;
        color: white;
        font-size: 0.15rem;
        margin: auto;
        margin-top: -0.2rem;
        margin-bottom: 0.3rem;
    }
    
    .stopNotice{
        margin-left: 0.25rem;
        font-size: 0.45rem;
        font-family:  "Flood Std";
        color: white;
        width: 20%;
        margin-top: 0.25rem;
    }

    .actionList{
        font-size: 0.25rem;
        background-color:#C1F7D5;
        display: flex;
    }
    .actions{
        margin-left: 0.25rem;
        margin-top: 0.6rem;
        margin-right: 0.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem;
    }
    .act{
        width: 95%;
    }
    
    .takeAction{
        background-color: #354463;
        width: 75%;
        padding: 0 0.2rem 0 0.2rem;
        outline: 0;
        border: 0;
        height: 0.4rem;
        color: white;
        font-size: 0.15rem;
        margin: auto;
        margin-top: -0.2rem;
    }

    .work{
        background-color: #354463;
        height: 18rem;
    }
    .done{
        margin-left: 1rem;
        font-size:0.15rem;
        padding: 0.1rem 0.2rem 0.1rem 0.2rem;
        width:50%;
    }
    .cardsContainer{
        margin: 0.8rem 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
        height: 30%;
        background-color: white;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
    }


    .cardImg{
        float: left;
        width: 2.15rem;
        height: 2rem;
        margin-top: -0.3rem;
        margin-left: 0.3rem;
    }
    .cardText{
        margin-right: 0.15rem;

        margin-top: 0.2rem;
        width: 90%;
    }
    .read{
        margin-top: 0;
        padding: 0.1rem 0.4rem;
        color: #354463;
        background-color: #C1F7D5;
        font-size: 0.18rem;
        border-radius: 0.25rem;
        outline: 0;
        border:0;
        font-weight:700;
        margin-left: 0.15rem;
        cursor: pointer;
    }
    
    .workText{
        
        width: 80%;
        margin-left: 0.5rem;
        font-size: 0.28rem;
        text-align: center;
    }
    .cardHeader{
        font-size: 0.15rem;
        margin-left: 0.18rem;
    }
    .cardPara{
        font-size: 0.15rem;
        text-align: center;
        font-weight: 100;
    }
    .know{
        background-image: url('assets/assets/home/did-you-know-background.png');
        background-size: cover;
        width: 100%;
        height: 13rem;
        border: 0.000001rem solid transparent;
        display: flex;
        flex-direction: column;
    }

    .knowleft{
        width: 90%;
    }

    .notice2{
        margin-left: 0.25rem;
        font-size: 0.45rem;
        font-family:  "Flood Std";
        color: white;
        margin-top: 0.75rem;
    }

    .action2{
        margin-left: 0.25rem;
        background-color: #C1F7D5;
        color: #354463;
        border:0;
        padding: 0.1rem 0.25rem;
        font-size: 0.18rem;
        font-weight: 700;
        border-radius: 0.22rem;
        cursor: pointer;
    }
    .knowRight{
        width: 100%;
        margin-left: 0.25rem;
        margin-top: 0.5rem;
    }
    .card2{
        height:1.5rem;
        background-color: white;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 3.25rem
    }
    .knowBtn{
        margin-left: 0.65rem;
        width: 50%;
        padding: 0.1rem 0 0.1rem 0;
        background-color: #354463;
        color: white;
        border: 0;
        margin-top: -0.15rem;
    }
    .card2Text{
        font-size: 0.15rem;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        width: 75%;
        display: flex;
        flex-direction: row;
    }
    .icons{
        margin-left: 1rem;
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    .iconD{
        float: right;
        height: 0.3rem;
        width: 0.3rem;
        border-radius: 50%;
        margin: auto;
        background-color: #C1F7D5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.12rem;
        cursor: pointer;
    }
    .knowHead{
        font-size:0.18rem;
        width: 1.2rem;
    }

    .storyBtn{
        margin-left: 0.6rem;
        width: 50%;
        padding: 0.1rem 0 0.1rem 0;
        background-color: #354463;
        color: white;
        border: 0;
        position: absolute;
        margin-top: -0.18rem;
    }
    .stories{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0.5rem;
    }
    
    .leftStory{
        font-size: 0.2rem;
        color: white;
        margin-top: 0.25rem;
        width: 87%;
        margin-left: 0.25rem;
    }
    .storyText{
        background-color:#354463;
        margin-bottom: 0.5rem;
        padding: 0.50rem;
        text-align: center;
    }
    .rightStory{
        margin-top:1rem;
        margin-left: 0.25rem;
    }
    .read2{
        margin-top: 0;
        padding: 0.1rem 0.4rem;
        color: #354463;
        background-color: #C1F7D5;
        font-size: 0.18rem;
        border-radius: 0.25rem;
        outline: 0;
        border:0;
        font-weight:700;
        margin-left: 0.65rem;
        cursor: pointer;
    }
    .rightStoryImg{
        width: 3.26rem;
        height: 3.26rem;
    }


    .lastEvent{
        background-color:#354463;
        color: white;
        padding: 0.5rem 0.5rem;
    }
    
    .topLast{
        font-family: "Flood Std";
        width: 100%;
        font-size: 0.44rem;
        text-align: center;
    }
    .earthEvent{
        margin-top: 0.75rem;
        display: flex;
        flex-direction: column;
    }
    .leftEarth{
        width:100%;
    }
    .lastEventImg{
        width:3rem;
        height: 3rem;
    }
    .rightEarth{
        width:100%;
        margin-left: 0.25rem;
        height: 4.7rem;
        display: flex;
        flex-direction: column;
    }
    .textRightEarth{
        margin-top:0.3rem; 
        font-weight: lighter; 
        font-size: 0.16rem; 
        width: 100%;
        text-align: center;
    }
    .newsEvent{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0.75rem;
    }
    .leftNews{
        width: 80%;
    }
    .readEventBtn{
        width: 70%;
        margin-top: 0.25rem;
    }
    .rightNewsImg{
        width: 65%;
        margin-left: 1rem;
    }
    .done{
        width: 50%;
        font-size: 0.15rem;
        margin-top:-2rem;
    }
    .leftNewsHeader{
        font-size: 0.25rem;
        width: 100%;
    }
    .actionsBottom{
        display: flex;
        flex-direction: column ;
        width: 70%;
        margin-left: -0.5rem;
    }
    .actB{
        width: 3rem;
        margin-left: 0;
    }
    .actB1{
        margin-left: -0.25rem;
        margin-top:0.3rem;
    }
    .forms{
        width: 1.25rem;
    }
    #email{
        width: 1.5rem;
        font-size: 0.13rem;
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }


    .footSection{
        margin-left:0.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        margin-top: 0.5rem;
        color: #354463;
    }
    .footTitle{
        font-size: 0.25rem;
        width: 70%;
    }
    .footDetails{
        font-size: 0.12rem;
        margin-left: 0rem;
        width: 50%;
        margin-top:0.20rem;
    }
    .stopNotice1{
        font-size: 0.44rem;
        margin-top: 0.5rem;
        margin-left:0rem;
    }
    .footDetails1{
        margin-left: -0.25rem;
        margin-top: 0.2rem;
    }
}
